/* 
   This document has been created with Marked.app <http://markedapp.com>, Copyright 2011 Brett Terpstra
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   Title: Archer Clean
   Author: Devin Northrup
   Description: A clean theme that uses the Archer font family.
*/

@font-face {
    font-family: 'UbuntuRegular';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-R-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-R-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-R-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-R-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-R-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuItalic';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-RI-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-RI-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-RI-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-RI-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-RI-webfont.svg#UbuntuItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBold';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-B-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-B-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-B-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-B-webfont.svg#UbuntuBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-BI-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-BI-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-BI-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-BI-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-BI-webfont.svg#UbuntuBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLight';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-L-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-L-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-L-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-L-webfont.svg#UbuntuLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuLightItalic';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-LI-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-LI-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-LI-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-LI-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-LI-webfont.svg#UbuntuLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMedium';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-M-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-M-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-M-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-M-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-M-webfont.svg#UbuntuMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuMediumItalic';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-MI-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-MI-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-MI-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-MI-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-MI-webfont.svg#UbuntuMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-C-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-C-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-C-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-C-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/ubuntu-fontfacekit/Ubuntu-C-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS55F-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS55F-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS55F-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS56F-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS56F-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS56F-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS75F-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS75F-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS75F-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS76F-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS76F-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS76F-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC55F-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC55F-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC55F-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC75F-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC75F-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC75F-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTC75F-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN57F-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN57F-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN57F-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN77F-webfont.eot');
    src: url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN77F-webfont.woff') format('woff'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN77F-webfont.ttf') format('truetype'),
         url('http://devinnorthrup.com/fonts/PT-Sans-fontfacekit/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SteelfishRgRegular';
    src: url('http://www.devinnorthrup.com/fonts/steelfish_regular_english/steelfish_rg-webfont.eot');
    src: url('http://www.devinnorthrup.com/fonts/steelfish_regular_english/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.devinnorthrup.com/fonts/steelfish_regular_english/steelfish_rg-webfont.woff') format('woff'),
         url('http://www.devinnorthrup.com/fonts/steelfish_regular_english/steelfish_rg-webfont.ttf') format('truetype'),
         url('http://www.devinnorthrup.com/fonts/steelfish_regular_english/steelfish_rg-webfont.svg#SteelfishRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    -webkit-font-smoothing:antialiased;
    font: normal .8764em/1.5em 'WhitneyHTF-Book',Verdana,Arial,sans-serif;
    margin:0 auto;
	background-color: #f3f3f3;
	
}

html>body
{
	font-size: 1em;
}

li
{
    font-size:110%;
    padding-bottom: .5em;
}

li li
{
    font-size:100%
}

li p
{
    font-size: 100%;
    margin: .2em 0 1em
}

h1, h2, h3, h4 {
	font-family: Tungsten-Book, SteelfishRgRegular;
}

h1
{
    color:#000;
    font-size: 3.5em;
    font-weight: 200;
    line-height: 1.1em;
    margin: .5em 0
}

h2
{
    color: #39ac19;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1em;
	margin: .8em 0 .4em;
}

h3
{
    color:#333;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: 300;
	margin: .8em 0 .4em;
}

h4
{
    color:#39ac19;
    font-size: 1.7em;
    line-height: 1.1667em;
    font-weight: 500;
	margin: .7em 0 .3em;
}

h5
{
    color:#333;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3em;
	margin: 1em 0 .2em;
	text-transform: uppercase;
}

h6
{
    font-size: .8em;
    line-height: 1.5em;
    color: #39ac19;
    font-weight: 600;
    margin:1.5em 0;
	text-transform: uppercase;
}

p {
	margin-top: .2em;
	margin-bottom: .8em;
}

body,p,td,div
{
    color: #333;
	word-wrap:break-word;
	font-weight: 400;
	font-family: "WhitneyHTF-Book", PTSansRegular, UbuntuLight, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
}

a
{
    -webkit-transition:color .2s ease-in-out;
    color: #39ac19;
    font-weight: 600;
    text-decoration:none
    
}

a:hover
{
    color:#3593d9;
    font-weight: 700;
}

strong {
	font-weight: 600;
	color: #111;
}

/*h2 em
{
    color:#111;
    padding-left:10px;
    text-shadow:0 1px 0 #FFF
}*/

blockquote p
{
  font-size:110%;
  font-style:italic;
  line-height:1.6em;
}

.footnote
{
    color:#0d6ea1;
    font-size:.8em;
    vertical-align:super
}

#wrapper img
{
    max-width:100%;
    height:auto
}

dd
{
    margin-bottom:1em
}

li > p:first-child
{
    margin:0
}

ul ul,ul ol
{
    margin-bottom:.4em
}

caption,col,colgroup,table,tbody,td,tfoot,th,thead,tr
{
    border-spacing:0
}

table
{
    border:1px solid rgba(0,0,0,0.25);
    border-collapse:collapse;
    display:table;
    empty-cells:hide;
    margin:-1px 0 23px;
    padding:0;
    table-layout:fixed
}

caption
{
    display:table-caption;
    font-weight:700
}

col
{
    display:table-column
}

colgroup
{
    display:table-column-group
}

tbody
{
    display:table-row-group
}

tfoot
{
    display:table-footer-group
}

thead
{
    display:table-header-group
}

td,th
{
    display:table-cell
}

tr
{
    display:table-row
}

table th,table td
{
    font-size:1.1em;
    line-height:23px;
    padding:0 1em
}

table thead
{
    background:rgba(0,0,0,0.15);
    border:1px solid rgba(0,0,0,0.15);
    border-bottom:1px solid rgba(0,0,0,0.2)
}

table tbody
{
    background:rgba(0,0,0,0.05)
}

table tfoot
{
    background:rgba(0,0,0,0.15);
    border:1px solid rgba(0,0,0,0.15);
    border-top:1px solid rgba(0,0,0,0.2)
}

figure
{
    display:inline-block;
    margin-bottom:1.2em;
    position:relative;
    margin:1em 0
}

figcaption
{
    font-style:italic;    
    text-align:center;
    background:rgba(0,0,0,.9);
    color:rgba(255,255,255,1);
    position:absolute;
    left:0;
    bottom:-24px;
    width:98%;
    padding:1%;
    -webkit-transition:all .2s ease-in-out;
}

figure:hover>figcaption
{
    /* background:rgba(0,0,0,1) */
}

/* Styles used when "Tab-indented text is poetry" is set */
.poetry pre
{
    display:block;
    font-family:Georgia, Garamond, serif!important;
    font-size:110%!important;
    font-style:italic;
    line-height:1.6em;
    margin-left:1em
}

.poetry pre code
{
    font-family:Georgia, Garamond, serif!important
}

/* important rules for keeping line-height from being affected by sub */
sup,sub,a.footnote
{
    font-size:1.4ex;
    height:0;
    line-height:1;
    position:relative;
}

sup {
    vertical-align:super;
}

sub {
    vertical-align: sub;
    top: -1px;
}

dt,th
{
    font-weight:700
}

table tr:nth-child(odd),table th:nth-child(odd),table td:nth-child(odd)
{
    background:rgba(255,255,255,0.06)
}

table tr:nth-child(even),table td:nth-child(even)
{
    background:rgba(0,0,0,0.06)
}

@media print {
    /* print only styles. Keep it clean */
    body
    {
        overflow:auto
    }
    img, pre, blockquote, table, figure, p {
        page-break-inside: avoid
    }
    .footnotes { page-break-before: always }

    #wrapper
    {
        background:#fff;
        color:#303030;
        font-size:85%;
        padding:10px;
        position:relative;
        text-indent:0
    }
}

@media screen {
    /* Screen-only styles, including inverted styles */
    .inverted #wrapper,.inverted {
        background:rgba(37, 42, 42, 1)
    }
    .inverted hr {
        border-color: rgba(51, 63, 64, 1) !important;
    }
    .inverted p,.inverted td,.inverted li,.inverted h1,.inverted h2,.inverted h3,.inverted h4,.inverted h5,.inverted h6,.inverted pre,.inverted code,.inverted th,.inverted .math,.inverted caption,.inverted dd,.inverted dt
    {
        color:#eee!important
    }
    .inverted table tr:nth-child(odd), .inverted table th:nth-child(odd), .inverted table td:nth-child(odd) {
      background: none;
    }
    .inverted a
    {
        color:rgba(172, 209, 213, 1);
    }

    #wrapper
    {
        padding:20px
    }

    /* styles for more colorful selection highlights */
    ::selection { background:rgba(157, 193, 200,.5)}
    h1::selection { background-color:rgba(45, 156, 208, .3)}
    h2::selection { background-color:rgba(90, 182, 224, .3)}
    h3::selection,
    h4::selection,
    h5::selection,
    h6::selection,li::selection,ol::selection { background-color:rgba(133, 201, 232, .3)}
    code::selection { background-color:rgba(0,0,0,.7);color:#eee}
    code span::selection {background-color:rgba(0,0,0,.7) !important;color:#eee !important}
    a::selection { background-color:rgba(255, 230, 102,.2)}
    .inverted a::selection { background-color:rgba(255, 230, 102,.6)}
	td::selection,th::selection,caption::selection { background-color: rgba(180, 237, 95, .5);}
}

@media screen and (max-width: 600px) {
	body,p,td,div
	{
		font-family: UbuntuLight;
		font-size: 1em;
		line-height: 1.5em;
	}
	
	body {
		width: 100%;
	}
	li {
		margin-left: -1em;
	}
	
	li li {
		margin-left: -1em;
	}
	h1
	{
	    font-size: 2.5em;

	}
	
	h2
	{
	    font-size: 2em;

	}
	
	h3
	{
	    font-size: 1.7em;
		margin: .8em 0 .3em;
	}
	
	h4
	{
	    font-size: 1.5em;
	}
	
	p {
		font-size: 1em;
	}
	
}

#nav { margin:0 0 10px 0;padding:5px 0 0;width:98%;background:rgba(255,255,255,.75); }
#nav li { display:block;float:left;margin:0 0 2px 0; }
#nav a { display:block;padding:2px 5px;color:#333;border:1px solid #aaa;margin-right:2px;-webkit-border-radius:5px;-webkit-transition:all .2s ease-in-out;background:rgba(255,255,255,.5);font-family: fjord;
font-weight: 300;
font-size: 12px; }
#nav a:hover { background:#eee; }
#container { float:left;clear:both;margin:10px 0;width:100%; }
.active a,#nav li.active a:hover { background:#333!important;color:white!important; }

@media screen and (min-width: 600px) {
	body {
		width: 90%;
	}

}

@media screen and (min-width: 800px) {
	body {
		width: 660px;
	}
}

